form{
    box-sizing: border-box;
    width: 260px;
    margin: 100px auto 0;
    padding-bottom: 40px;
    border-radius: 3px;
}
form h1{
    box-sizing: border-box;
    padding: 20px;
    color: black;
}
input{
    margin: 40px 25px;
    width: 200px;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px black;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, cyan 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
}
button{
    border: none;
    color: #1abc9c;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width:200px;
    color: black;
    margin-left: 25px;
}