/* Trước khi bắt đầu code web: thì phải ép kiểu trang web */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* them font chu */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
  outline: none;
  border: none;
}

.center {
  text-align: center;
}

.nav {
  background-color: black;
  padding: 10px 0px;

  /* Đi cùng màn hình */
  position: fixed;
  width: 100%;

}

.navbar-item {
  color: #fff;
  padding: 12px 16px;
  /* padding đầu: trên/dưới, padding sau: trái/phải */

  height: 100%;
}

.navbar-item:hover {
  background-color: rgb(226, 221, 215);
  color: black;
}

/* Home */
#home {
  max-width: 980px;
  /* Chiều ngang tối đa: 980px */
  margin: auto;
}

.padding-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}


/* Members */
.third {
  width: 33.3333%;
}

.row {
  display: flex;

}

#members h2 {
  font-size: 28px;
  padding-bottom: 10px;
  font-weight: 200;
}

/* contact */
.wide {
  letter-spacing: 4px;
  font-size: 28px;
  font-weight: 200;
}

.opacity {
  opacity: 0.6;
  /* làm mờ phần tử */
}

#contact p {
  padding: 10px 0px;
}

/* Style chung  */
.hieu-input {
  padding: 8px;
  display: block;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.hieu-button {
  color: #fff;
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  cursor: pointer;

}

.hieu-button:hover {
  color: black;
  background-color: gray;
}

/* ******************* */